<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="navbar-header">Usuarios</li>
            <li class="active"><a href="#">Listar</a></li>
            <li><a href="#">Cadastrar</a></li>
            <li class="navbar-header">Noticias</li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Listar fotos</a></li>
        </ul>

    </div>

</div>