<div class="navbar navbar-inverse">
    <div class="navbar-collapse collapse">
        <a class="brand" href="#">ASP.NET MVC</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
</div>

